    /* CONTACT PAGE */

.page-container{
    padding: 80px 10%;
}

.contact-form{
    max-width: 700px;
    margin: auto;
    background: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.input-box{
    margin-bottom: 20px;
}

.input-box label{
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #222;
}

.contact-form input,
.contact-form textarea{
    width: 100%;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
}

.contact-form input:focus,
.contact-form textarea:focus{
    border-color: #0077ff;
}

.contact-form button{
    background: #0077ff;
    color: white;
    border: none;
    padding: 14px 30px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.contact-form button:hover{
    background: #005ed9;
}